.navprodutos {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}

.navprodutos a {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navprodutos a:hover {
  .loader-nav {
    opacity: 1;
  }
}

/* HTML: <div class="loader"></div> */
.loader-nav {
  opacity: 0;
  width: calc(100% / cos(45deg));
  height: 10px;
  --c: #00a8ff 0 15px,#0000 0 20px;
  background: 
    repeating-linear-gradient(135deg,var(--c)) left top,
    repeating-linear-gradient( 45deg,var(--c)) left bottom;
  background-size:  200% 50%;
  background-repeat: no-repeat;
  animation: l4 2s infinite linear;
}
@keyframes l4 {
    100% {background-position:top right,bottom right}
}